#film-view{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
   
}

#film-view h1{
    width: 75%;
    font-size: 36pt;
    color: rgb(19, 62, 67);
    border-bottom: 3px solid rgb(19, 62, 67);
    margin-bottom: 2%;
    padding-left: 6%;
}

#film-view p{
    width: 70%;
    text-indent: 3%;
    padding: 2%;
    font-size: 14pt;
    font-weight: 500;
}